# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# Terraform
.terraform/
*.tfplan
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db

# Environment variables
.env
